# ===== Node.js =====
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===== Backend specific =====
Android_Backend/node_modules/
Android_Backend/.env
Android_Backend/.env

# ===== React Native =====
# React Native Packager
.expo/
.expo-shared/
.expo-dev/

# Android
android/.gradle/
android/app/build/
android/local.properties


# iOS
ios/Pods/
ios/build/

# Metro Bundler cache
.cache/
metro-cache/

# Misc
.DS_Store
Thumbs.db
.env
*.log

# VSCode
.vscode/

# ===== Build outputs =====
build/
dist/
